.burger{
	width: 32px;
	height: 32px;
	background: #F24726;	
	cursor: pointer;

	&__item, 
	&__item::after, 
	&__item::before {
		width:100%;
		display: inline-block;
		height: 3px;
		background-color: black;
	}

	&__item{
		position: relative;
	}

	&__item::after{
			content: '';
			position: absolute;
			top: 8px;
		}
	&__item::before{
			content: '';
			position: absolute;
			top: -8px;
		}
}

.burger:hover{
	
	.burger__item::after{
		content: '';
		position: absolute;
		top: 10px;
		transition: linear .15s;
	}
	.burger__item::before{
		content: '';
		position: absolute;
		top: -10px;
		transition: linear .1s;
	}
}


