.slider{
	display: flex;
	justify-content: center;
	position: relative;
	background-color: rgb(27, 37, 37);
	width: 100%;
	height: 400px;
	&__image-wrapper{
		height: 400px;
		max-width: 600px;
		background-color: aliceblue;
		overflow: hidden;
		img{
			display: block;
			max-width: 100%;
			object-fit:fill;
		}
	}
	&__button-position{
		position: absolute;
		width: 0;
		height: 0;
		top: 50%;
		transform: translate(0,-50%);
	}

	&__button-left{
		border-top: 20px solid transparent;
		border-right: 30px solid #5cb85c;
		border-bottom: 20px solid transparent;
		left: 10%;
	}

	&__button-right{
		border-top: 20px solid transparent;
		border-left: 30px solid #5cb85c;
		border-bottom: 20px solid transparent;
		right: 10%;
	}
}
